footer{
    background:#222;
    height:200px;
    width:100%;
    position: relative;
    bottom:0;
    color:white;
    margin:2em 0;
    padding:0 20%;
    .container{
        display:flex;
        justify-content: space-between;
        width:100%;
        border-top:2px solid #444;
    }
    article{
        padding:10px;
        height:100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    article h3{
        margin:0;
    }
    #contact .socials div{
        padding:10px;
        font-size:2em;
        display:inline;
        transition: 100ms all ease-in-out;
        cursor: pointer;
    }

    #contact .socials div:nth-child(1){
        padding-left:0;
        color:#3b5998;
    }
    #contact .socials div:nth-child(2){
        color:#2867B2;
    }
    #contact .socials div:nth-child(3){
        color:rgb(172, 169, 13);
    }
    #contact .socials div:hover{
        color:#666;
    }
    
}