<footer>
    <div class="container">
    <article>
        <h3>ABOUT</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ut repudiandae atque itaque sapiente eligendi
            non expedita omnis, consequuntur, corporis facilis sed odit iure vel aliquam? Maiores vel nesciunt eius?</p>
    </article>
    <article id="contact">
        <h3>CONTACT</h3>
        <p>If you have any questions about my services, or just want to say hello, feel free to contact me. Below are my
            social pages and my email:
        </p>
        <div class="socials">
            <div>
                <fa-icon [icon]="Facebook"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="Linkedin"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="Mail"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="Github"></fa-icon>
            </div>
        </div>
    </article>
</div>
</footer>